@import "tailwindcss";

html,
body,
#root {
  height: 100vh;
}
.recharts-tooltip-wrapper {
  visibility: hidden !important;
}

.circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.circle-legend {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
